<link rel="stylesheet" href="../../stylesheets/signin.css" />

<%- include("../partials/_navbar.ejs") %>

<div>
  <h1>Create a New Account</h1>

  <form action="/auth/sign-up" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" />

    <br />

    <label for="email">Email</label>
    <input type="email" name="email" />

    <br />

    <label for="role">Your Role</label>
    <div class="selection">
      <select name="role">
        <option value="user">Customer</option>
        <option value="owner">Business Owner</option>
      </select>
    </div>
    <label for="phone">Phone Number</label>
    <input type="number" name="phone" />

    <br />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <br />

    <label for="ConfirmPassword">Confirm Password</label>
    <input type="Password" name="confirmPassword" />

    <br />

    <button type="submit">Sign Up</button>
  </form>
</div>
