<link rel="stylesheet" href="../../stylesheets/sign-up.css" />
<link rel="stylesheet" href="../../stylesheets/nav.css" />

<%- include('../partials/_navbar') %>

<div class="sign-container">
  <h1>Sign Up</h1>

  <form action="/auth/sign-up" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Sign Up</button>
  </form>
</div>
