<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>

    <h1><%= user.role %></h1>

    <% salons.forEach(salon=>{%>
    <a href="/salon/<%= salon._id %>"> <%= salon.name %> </a>
    <%}) %>
  </body>
</html>
