<nav>
  <% if(user){ %>
  <a href="/auth/sign-out">SIGN OUT</a>
  <a href="/auth/<%= user._id %>/profile">MY PROFILE</a>
  <% } else { %>
  <a href="/auth/sign-up">SIGN UP</a>
  <a href="/auth/sign-in">SIGN IN</a>
  <% } %>
</nav>
