<nav>
  <% if(user) { %>
  <a href="/salon">Home Page</a>
  <% if(user.role ==="user") {%>
  <a href="/appointment/">Appointments</a>
    <% } %>
  <a href="/auth/<%= user._id %>/profile">MY PROFILE</a>
  <a href="/auth/sign-out">SIGN OUT</a>
  <% } else { %>
  <a href="/auth/sign-up">SIGN UP</a>
  <a href="/auth/sign-in">SIGN IN</a>
  <% } %>
</nav>
