<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/welcomePage.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to BookGlow</h1>
    <h2>Your Beauty, Just One Tap Away!</h2>
    <div>
      <a href="/auth/sign-in"> <button>Sign In</button> </a>
      <a href="/auth/sign-up"> <button>Sign Up</button></a>
    </div>
  </body>
</html>
