* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.pinimg.com/1200x/18/d5/2c/18d52cb0c7382949d58c3a3251e2f7f0.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  -webkit-text-stroke: 0.3px #ff4081;
}


main{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.salon{
  width: 100%;
  height: 30px;
}

.salon img{
  border: 100%;

}
