* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover {
  transform: scale(1.2);
  color: #ff4081;
  cursor: pointer;
}
