* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: url("https://i.pinimg.com/736x/7c/68/54/7c6854c4cf90162e40ef8e24a8ef89fb.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  font-size: 15px;
  transition: transform 0.2s ease, color 0.2s ease;
}

button:hover {
  transform: scale(1.08);
  background-color: #ff4081;
}
