<head>
  <link rel="stylesheet" href="/stylesheets/appointments.css" />
  <link rel="stylesheet" href="/stylesheets/appointmentsAdd.css" />
</head>

<%- include('../partials/_navbar') %>

<div class="newApptPage">
  <header class="pageHeader">
    <h1>Add a New Appointment</h1>
  </header>

  <section class="newApptCard">
    <form class="apptForm" action="/appointment/<%= salon._id %>/appointments/new" method="post">
      <div class="field">
        <label for="dateTime">Date & Time</label>
        <input type="datetime-local" id="dateTime" name="dateTime" required />
      </div>

      <div class="actions">
        <button type="submit" class="btnPrimary">Add Appointment</button>
      </div>
    </form>
  </section>
</div>
