<head>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
</head>
<%- include('../partials/_navbar') %>

<h1>Add a new Appointment</h1>

<form action="/appointment/<%= salon._id %>/appointments/new" method="post">
<label for="dateTime">Date & Time</label>
<input type="datetime-local" name="dateTime" id="dateTime" />
<br>


<button type="submit">Add a new Appointment</button>
</form>
